server:
  port: 7000

spring:
  application:
    name: platform-event-producer-service
  config:
    import: optional:configserver:http://192.168.0.7:9001/
  boot:
    admin:
      client:
        url: http://192.168.1.43:9100/
  kafka:
    producer:
      bootstrap-servers: 192.168.1.69:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    template:
      default-topic: my-topic

management:
  endpoints:
    web:
      exposure:
        include: "*"

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true