<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Properties</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{save}" th:object="${property}" method="post">
    <div class="container my-2" align="center">
        <table style="width:100%" border="1"
               class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>application</th>
                <th>profile</th>
                <th>label</th>
                <th>property key</th>
                <th>property value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th><input type="text" th:field="*{application}"></th>
                <th><input type="text" th:field="*{profile}"></th>
                <th><input type="text" th:field="*{label}"></th>
                <th><input type="text" th:field="*{propertyKey}" placeholder="key Name"></th>
                <th><input type="text" th:field="*{value}" placeholder="key Name"></th>
            </tr>
            <button type="submit" class="btn btn-primary btn-sm mb-3">save</button>
            </tbody>
        </table>
    </div>
</form>
<div class="container my-2" align="center">
    <h3>Property List</h3>
    <table style="width:100%" border="1"
           class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>id</th>
            <th>created on</th>
            <th>application</th>
            <th>profile</th>
            <th>label</th>
            <th>property key</th>
            <th>property value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="property:${propertyList}">
            <td th:text="${property.id}"></td>
            <td th:text="${property.createdOn}"></td>
            <td th:text="${property.application}"></td>
            <td th:text="${property.profile}"></td>
            <td th:text="${property.label}"></td>
            <td th:text="${property.propertyKey}"></td>
            <td th:text="${property.value}"></td>
            <td><a th:href="@{./delete/{id}(id=${property.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>